<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%-d{yy-MM-dd HH:mm:ss.SSS}][%t][%l]%m%n" />
		</layout>
	</appender>

	<!-- 全局 -->
	<appender name="log.all" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./logs/leon_all.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50000000" />
		<param name="MaxBackupIndex" value="30" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%-d{yy-MM-dd HH:mm:ss.SSS}][%t][%l]%m%n" />
		</layout>
	</appender>


	<!-- 管家代码 -->
	<appender name="log.leon" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./logs/leon_log.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50000000" />
		<param name="MaxBackupIndex" value="300" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%-d{yy-MM-dd HH:mm:ss.SSS}][%t][%l]%m%n" />
		</layout>
	</appender>

	



	<logger name="com.leon" additivity="false">
		<level value="info" />
		<appender-ref ref="log.leon" />
	</logger>



	<root>
		<level value="info" />
		<appender-ref ref="log.all" />
	</root>

</log4j:configuration>